@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #2d3436;
}

.root-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.container-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
}

.sidebar {
  padding: 3rem;
  width: 100%;
  background: linear-gradient(
    to bottom,
    #0072ff,
    #00c6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  grid-column: 1 span 2;
  overflow-y: auto;
  border-radius: 1rem 0 0 1rem;
}

.sidebar-heading {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 4rem;
}

.sidebar-heading > * {
  font-size: 1.7rem;
}

.sidebar-icon {
  margin-right: 1rem;
}

.sidebar-heading__text {
  display: inline-block;
}

.sidebar-list {
  list-style-type: none;
  margin-bottom: 4rem;
}

.sidebar-item {
  margin-bottom: 2rem;
  color: rgba(250, 250, 250, 0.9);
}

.sidebar-link {
  color: rgba(250, 250, 250, 0.9);
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s;
}

.sidebar-link.add {
  font-weight: 600;
}

.sidebar-item:hover > * {
  color: rgba(250, 250, 250, 1);
}

.main {
  background-color: rgb(240, 240, 240);
  height: 100%;
  grid-column: 2 / -1;
  padding: 3rem;
  overflow-y: auto;
  border-radius: 0 1rem 1rem 0;
}

.form-heading,
.category-heading {
  margin-bottom: 4rem;
  font-size: 3rem;
  font-weight: 600;
}

.form {
  width: 100%;
  max-width: 50rem;
}
.form > * {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: none;
  padding: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  outline: none;
  border-radius: 1rem;
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.8);
}

.form__input {
  font-family: inherit;
}

.form__submit {
  color: white;
  background-color: #2ecc71;
  font-weight: 600;
  transition: all 0.2s;
  font-family: inherit;
}

.form__submit:hover {
  background-color: #25a159;
  cursor: pointer;
}

.category-container {
  width: 100%;
}

.category-heading-box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.category-heading {
  margin-right: 1rem;
  margin-bottom: 0;
}
.category-count {
  font-weight: 300;
}

.category-description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.product-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}

.product-item {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.8);
}

.product-title-box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.product-item__name {
  font-size: 2rem;
  margin-right: 1rem;
}

.product-item__description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 2.5rem;
}

.product-item__price {
  font-size: 1.3rem;
  font-weight: 900;
  background-color: #34495e;
  color: white;
  padding: 0.7rem;
  display: inline-block;
  border-radius: 1rem;
  margin-right: 1rem;
}

.btn {
  padding: 1rem;
  border: none;
  color: white;
  border-radius: 1rem;
  font-weight: 900;
  font-size: 1.2rem;
  font-family: inherit;
  text-decoration: none;
  display: inline-block;
  width: 5.5rem;
  text-align: center;
  transition: all 0.2s;
}

.btn:hover,
.popup-btn:hover {
  cursor: pointer;
}

.btn-add {
  background-color: #2ecc71;
  margin-right: 1rem;
}

.btn-edit {
  background-color: #f0ad4e;
  margin-right: 1rem;
}

.btn-delete {
  background-color: #e74c3c;
}

.btn-add:hover,
.popup-btn.confirm:hover {
  background-color: #25a159;
}

.btn-edit:hover {
  background-color: #b6833b;
}

.btn-delete:hover,
.popup-btn.reject:hover {
  background-color: #923227;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.8);
}
.popup-box {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  max-width: 100%;
}

.popup-message {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.popup-btn {
  padding: 1rem;
  color: white;
  border: none;
  border-radius: 1rem;
  font-weight: 600;
  transition: all 0.2s;
  font-size: 1.7rem;
  text-decoration: none;
  text-align: center;
  width: 10rem;
  display: inline-block;
}

.popup-btn.confirm {
  background-color: #2ecc71;
  margin-right: 1rem;
}

.popup-btn.reject {
  background-color: #e74c3c;
}

@media (max-width: 1200px) {
  .root-container {
    border-radius: 0;
  }

  .sidebar {
    border-radius: 0;
  }

  .main {
    border-radius: 0;
  }
}

@media (max-width: 900px) {
  .container-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 700px) {
  .container-grid {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    grid-column: 1 / -1;
    text-align: center;
    overflow-y: initial;
  }

  .main {
    grid-column: 1 / -1;
  }

  .sidebar-heading {
    margin-bottom: 3rem;
  }
  .sidebar-list {
    margin-bottom: 0;
    display: inline-block;
  }

  .sidebar-list:first-of-type > * {
    margin-bottom: 2rem;
  }

  .sidebar-item {
    margin-bottom: 0;
    color: rgba(250, 250, 250, 0.9);
    display: inline-block;
    margin-right: 2rem;
  }
}
